.search-page {
  width: 100vw;
  height: 100vh;
  background: #0a0a0a;
  color: #e8d8c8;
  font-family: 'Cormorant Garamond', serif;
}

.search-background {
  position:fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.search-curtain {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: #8b0000;
  z-index: 1; /* behind content */
}

.search-curtain.left {
  left: 0;
}

.search-curtain.right {
  right: 0;
}

.search-navbar {
  position: relative;
  background: rgba(26, 15, 10, 0.9);
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 2; /* on top of curtains */
}

.search-navbar input {
  background:none;
  font-family:'Cormorant Garamond', serif;
  border-color:rgba(26, 15, 10, 0.9);
  font-size:40px;
  align-items:center;
  font:yellow;
  width:100vw;
}

.back-btn {
  background: rgba(139, 0, 0, 0.5);
  border: 2px solid #8b0000;
  color: #e8d8c8;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Cinzel', serif;
}

.search-content {
  position: relative;
  padding: 40px;
  text-align: center;
  z-index: 2; 
  font-size:50px;
}

